body {text-align: center;}

/* classe para os mapas da index */
.mapsIndex {
	margin: 5% 5%;
	display: block;
	background-color: #CCC;
	width: 90%;
	height: 350px;
}
/* classe para os mapas em controles */
.mapsControles {
	margin: 5% 5%;
	display: block;
	background-color: #CCC;
	width: 90%;
	height: 500px;
}
/* classe para os mapas em valores */
.valores {
	margin: 2% 5%;
	display: block;
	background-color: #CCC;
	width: 90%;
	height: 600px;
}
/* estilos do balão customizado */
#info { 
	width: 350px;
	text-align: left;
}
  
#info h4 { margin-top: 0;}

#info img {
  float: left;
  margin-right: 10px;
}
/* estilos para a página de rotas */
.rotas {
	margin: 5% 5%;
	display: block;
	background-color: #CCC;
	width: 90%;
	height: 350px;
}
#rota {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #F5F5F5;
}