body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    margin: 15px auto 0 auto;
}

h2 {
    font-size: 14px;
    max-width: 250px;
    word-wrap: break-word;
    text-align: center;
    margin: 5px auto;
}

h3 {
    font-size: 13px;
    max-width: 250px;
    word-wrap: break-word;
    text-align: center;
    margin: 5px auto;
}

img.image {
    width: 250px;
    max-width: 250px;
}

.map {
    margin: 15px auto;
    width: 80%;
    box-sizing: border-box;
    min-height: 350px;
    height: 80%;
    background-color: #CCC;
}

a {
    color: red;
    text-decoration: underline;
}

.labels {
    color: #000;
    word-wrap: break-word;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    padding: 0;
    box-sizing: border-box;
}